{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<div style="background-image: url({% static 'image/bg21.webp' %}); height: 473px; width: px;  background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
<div style="height: 473px; width: 615px; background-color: #E5CCFF; text-align: center;">
    <div style="padding: 70px;">
        <h1>About Us</h1>
        <br><br>
        <p>KDB Deals is the world’s first online website to promote affiliate products as well 
            as showcase ecommerce products. You can easily compare and shop from all the
            available options. We at KDB Deals have customer as well as seller centric policies.
            Have you ever searched for a product online?
            Got stuck after finding different prices on different websites for the same product?
            Then Probably you landed at the right place. DB Deals will compare that
            product from all available websites like Flipkart, Amazon and many 
            more & will show you different prices for the same product from different websites.
            That’s how you can be sure to find your ideal product for the best price.
    </div>
</div>
</div>

{% endblock%}